* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    background-color: black;
    /*background-color: #F8F8F8;*/
}



.nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_img {
    margin: 21px 0;
}

.nav_body {
}

.nav_list {
    display: flex;
    text-align: right;
}

.list_item {
    list-style: none;

}

.list_item a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
}

.header {
    background-color: #9A9A9A;
}

.container {
}

.header-row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header_text{
    margin-top: 60px;
    text-align: center;
    opacity: 0.21;
    font-size: 33.1px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header_body {
    margin-top: 16px;
    margin-bottom: 140px;
    display: flex;

}

.header_body_left {
    flex: 1;
}

.header_logo {

}

.header_title {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-top: 33px;
}

.header_line {
    margin-top: 35px;
}

.header_subtitle {
    margin-top: 30px;
    opacity: 0.8;
    font-family: Raleway;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    color: #ffffff;
}

.btn_header_left{
    margin-top: 44px;
    width: 135px;
    height: 42px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: #9A9A9A;

}

.header_body_right {
    flex: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header_form {
    max-width: 360px;
}

.container_form {
    background-color: #FFFFFF;

}

.details {
    display: flex;
    flex-direction: column;
}

.form_title {
    background-color: #F5F5F5;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
    text-align: center;
    padding: 16px 54px;
}

.form_title span{
    color: #ff8b38;
}

.wrapper_input{
    background-color: #F5F5F5;
    /*margin: 30px 45px 0 45px;*/
}

.form-group {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.form-group input{
    margin: 36px 45px 0 36px;
    border: none;
    width: 285px;
    height: 31px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
}

input[type="password"]{
    margin-bottom: 50px;
}

.btn_header_right{
    width: 100%;
    background-color: #FF9B51;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    padding: 21px 0;
    border: none;
}

.social {
    background-color: #FFFFFF;
}

.container {
}

.social_row {
    display: flex;
    margin-bottom: 22px;
}


.social_text {
    flex: 50%;
}

.social_title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
    margin-top: 22px;

}

.social_text_text{
    margin-top: 12px;
    line-height: 20px;

}

.social_icon {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social_icon i{
    font-size: 48px;
    line-height: 1.2;
    color: #cccccc;
}

.tabs {
    background-color: #F5F5F5;
}

.container {
}

.tabs_row {
    padding-top: 147px;
    display: flex;
    padding-bottom: 115px;
}

.tab {
    flex: 1;

}

.tab button{
    width: 112px;
    height: 112px;
    border: none;
    margin: 0.5px 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.tab .tab1{
    background-color: #FF8B38;
}

.tab .tab2{
    background-color: #333333;
}

.tab .tab3{
    background-color: #333333;
}

.tabs_description {
    flex: 3;
    margin-left: 100px;
}

.tab_title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
}

.tab_text {
    margin-top: 52px;
    line-height: 20px;
    color: #86878b;

}

.tabs_img_right {
    flex: 2;
    margin-left: 100px;
}

.tabs_description button{
    margin-top: 52px;
    width: 121px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 25px;
    background-color: #FF8B38;
    border: none;
}

.sublist {
    background-color: #FFFFFF;
}

.container {
}

.sublist_row {
    display: flex;
    margin-top: 111px;
    margin-bottom: 110px;
    justify-content: center;
    text-align: start;

}

.sublist_image {
    flex: 1;

}

.sublist_image_block {
    background-color: #9A9A9A;
    padding: 110px 137px;
    text-align: center;
    font-size: 33.1px;
    line-height: 1.2;
    color: #ffffff;

}

.sublist_description {
    flex: 1.5;
    padding-left: 190px;
}

.sublist_title {
    font-size: 20px;
    line-height: 43px;
    font-weight: 700;
    color: #212121;
}

.sublist_divider_title {
    margin-top: 30px;
}

.sublist_text {
    margin-top: 30px;
}

.sublist_icon_card {
  margin-top: 45px;
}

.sublist_card {
    display: flex;
}

.card_icon span{
    border-radius: 50%;
}

.card_icon {
    font-size: 16px;
    line-height: 1.2;
    color: #ff8b38;
}

.fa.fa-cloud-upload-alt {
}

.icon_block_card{
    margin-left: 30px;
    margin-bottom: 42px;
}

.icon_card_title {
    line-height: 17px;
    font-weight: 600;
    color: #212121;
}

.icon_card_text {
    margin-top: 12px;
    line-height: 20px;
    color: #86878b;
}

.fa.fa-cloud-download-alt {
}


.picture {
    background-color: #F5F5F5;
}

.picture_row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}

.picture_descr {
    flex: 1.5;
    margin-top: 105px;

}

.descr_title {
    font-size: 20px;
    line-height: 43px;
    font-weight: 700;
    color: #212121;
}

.descr_divider {
    margin-top: 30px;

}

.descr_text {
    margin-top: 30px;
    line-height: 20px;
    padding-right: 195px;
}

.picture_image {
    flex: 1;
    margin-top: 90px;
    background-color: #9A9A9A;
    font-size: 33.1px;
    line-height: 1.2;
    color: #ffffff;
}

.picture_image_block {
    margin: 145px 135px 85px;

}

.awesome {
}

.container {
}

.awesome_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 105px;
}

.awesome_title {

}

.awesome_title_title {
    margin-top: 105px;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
}

.awesome_divider {
    margin-top: 30px;
}

.awesome_subtitle {
    margin-top: 30px;

}

.awesome_cards {
    display: flex;
    /*margin-top: 80px;*/
    justify-content: space-between;
    margin: 80px -16px 0 -16px;
}

.awesome_card1, .awesome_card2, .awesome_card3{
    padding: 0 16px;
}

.awesome_card1 {
}

.card1_logo {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    color: #ff8b38;
}

.fa-stack.fa-lg {
    border: 2px solid #ff8b38;
    border-radius: 50%;
}

.fa.fa-circle-o.fa-stack-2x {
}

.fa.fa-cloud-upload.fa-stack-1x {
}

.card1_title, .card2_title, .card3_title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #333333;
}

.card1_text, .card2_text, .card3_text {
    margin-top: 25px;
}

.awesome_card2 {
}

.card2_logo {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    color: #ff8b38;
}

.card2_title {
}

.card2_text {
}

.awesome_card3 {
}

.card3_logo {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    color: #ff8b38;
}

.card3_title {
}

.card_text {
}


.pricing {
    background-color: #F5F5F5;
    padding-bottom: 95px;
}

.container {
}

.pricing_row {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.pricing_text {
    margin-top: 105px;

}

.pricing_title {
    font-size: 36px;
    line-height: 43px;
    color: #212121;
}

.pricing_divider {
    margin-top: 30px;
}

.pricing_subtitle {
    margin-top: 30px;
}

.pricing_cards {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.pricing_card1, .pricing_card2, .pricing_card3{
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card_wrapper{
    background-color: #333333;
}

.pricing_card1 {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
}

.card_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    padding: 21px 0;
    border-bottom: 1px solid #F5F5F5;
}

.card_price {
    font-family: 'Raleway', sans-serif;
}

.price {
}

.dollar {
    font-size: 35px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.dollar_price {
    font-weight: 700;
    color: #ffffff;
    font-size: 94px;

}

.price_comment {
    margin-top: 28px;
    padding-bottom: 20px;
}

.card_popular {
    background-color: #FF8B38;
    min-height: 5px;

}

.popular_text{
    padding: 14px 0;
    min-height: 5px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.pricing_card1 .popular_text, .pricing_card3 .popular_text{
    visibility: hidden;
}

.price_description {
    height: 343px;
}

.price_description ul{
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;


}

.price_description ul>li{
    padding: 14px 0;
    list-style: none;
    border-bottom: 1px solid #F5F5F5;



}

.price_description {
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #86878b;
}

.pricing_card2 {
}

.pricing_card1 .card_popular, .pricing_card3 .card_popular{
    height: 5px;
}


.customers {
    background-color: #FFFFFF;
}

.container {
}

.customers_row {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
}

.customers_text {
}

.customers_title {
    margin-top: 105px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #212121;
}

.customers_divider {
    margin-top: 30px;
}

.customers_subtitle {
    margin-top: 30px;
    line-height: 20px;

}

.customers_cards {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.customers_card1, .customers_card2, .customers_card3{
    max-width: 275px;
}

.wrapper_customer_card {

}

.arrow-down{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 12px;
    border-right-width: 12px;
    border-top: 12px solid #F5F5F5;
    margin-left: 25px;
}

.customer_card1_text,  .customer_card2_text, .customer_card3_text{
    background-color: #F5F5F5;
    padding: 24px 12px 41px;
}

.wrapper_customer_name {
    margin-top: 5px;
    display: flex;
}

.customer_image {
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
    background-color: #9A9A9A;
}

.wrapper_customer_image_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
    padding-left: 15px;
}

.customer_image_name_name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
}

.customer_position {
    margin-top: 5px;
    line-height: 1.2;
}

.customers_card2 {
}

.customers_card3 {
}
